# Настройки редактора VS Code
.vscode/

# Виртуальное окружение
venv/
env/

# Настройки VS Code (которые мы делали для djLint)
.vscode/

# Кэш Python
__pycache__/
*.pyc

# База данных SQLite (на всякий случай, если была)
db.sqlite3

# Файлы конфигурации с паролями (если у тебя есть .env)
.env

# Файл конфигурации для djLint
.djlintrc

.seed_db