{% extends "competitions/components/base.html" %}
{% block title %}Вход | Вега{% endblock title %}
{% block content %}
    <div class="d-flex justify-content-center align-items-center login-wrapper">
        <div class="card login-card w-100 shadow-lg border-0">
            <div class="card-body py-5 px-4 px-md-5 text-center">
                <form method="post" class="text-start mt-4">
                    {% csrf_token %}
                    {% if form.non_field_errors %}
                        <div class="alert alert-danger py-2 small fw-bold text-center border-0 rounded-3">{{ form.non_field_errors.0 }}</div>
                    {% endif %}
                    {% for field in form %}
                        <div class="mb-4">
                            <label class="form-label text-muted small fw-bold mb-2 ps-1">{{ field.label }}</label>
                            <input type="{{ field.field.widget.input_type }}"
                                   name="{{ field.name }}"
                                   class="form-control form-control-lg bg-dark text-light shadow-sm"
                                   placeholder="Введите {{ field.label|lower }}"
                                   required>
                        </div>
                    {% endfor %}
                    <button type="submit"
                            class="btn btn-info btn-lg w-100 mt-2 fw-bold text-dark shadow-sm">Войти в систему</button>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}
