{% extends "competitions/components/base.html" %}
{% block title %}Вход в систему{% endblock title %}
{% block content %}
    <div class="d-flex justify-content-center align-items-center login-wrapper">
        <div class="card login-card w-100">
            <div class="card-body py-5 px-4 text-center">
                <h2 class="mb-4 text-warning">Вход в систему</h2>
                <form method="post" class="text-start">
                    {% csrf_token %}
                    <div class="mb-4">{{ form.as_p }}</div>
                    <button type="submit" class="btn btn-outline-success w-100 py-2">Войти</button>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}
